.generation {
  background-color: RGBA(247, 247, 247, 1);
  &__body {
    max-width: 960px;
    padding: 116px 0 116px 0;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 767px) {
      & {
        padding: 50px 0 50px 0;
      }
    }
  }
}

.block {
  &__text {
    margin-top: 25px;
  }
  &__text_generation {
    @media (max-width: 1290px) {
      & {
        padding: 0 20px 0 20px;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 15px;
    color: #353738;
    margin-bottom: 12px;
    @media (max-width: 767px) {
      & {
        font-size: 20px;
      }
    }
  }
  &__main {
    font-size: 13px;
    color: #848789;
    line-height: 26px;
    @media (max-width: 1290px) {
      & {
        padding: 0 15px 0 15px;
      }
    }
    @media (max-width: 767px) {
      & {
        font-size: 17px;
        line-height: 30px;
      }
    }
  }
}
///////////////////////
.vintage {
  &__row {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__image-main {
    flex: 0 1 66.667%;
    position: relative;
    background-image: url(../img/block3/bike-1-logo.png),
      url(../img/block3/bike.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto, cover;
    top: 0;
    left: 0;
    @media (max-width: 767px) {
      flex: 0 1 auto;
    }
  }

  &__column {
    flex: 0 1 33.333%;
    display: flex;
    flex-direction: column;
  }
  .vintage-block {
    margin: 0 auto;
    text-align: center;
    max-width: 358px;
    padding: 65px 0 49px 0;
    @media (max-width: 767px) {
      max-width: 960px;
      font-size: 17px;
      line-height: 30px;
      padding: 50px 20px 50px 20px;
    }
  }
  .block__main_vintage {
    text-align: left;
    position: relative;
    padding-bottom: 30px;
    font-size: 12px;
    line-height: 20px;
    @media (max-width: 767px) {
      font-size: 17px;
      line-height: 30px;
      padding: 0 20px 0 20px;
      text-align: center;
    }

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 47px;
      bottom: 0;
      right: 42%;
      background-color: rgba(53, 55, 56, 0.2);
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__image-small {
    position: relative;
    min-width: 100%;
    min-height: 200px;
    @media (max-width: 1290px) {
      & {
        width: 435px;
        @media (max-width: 767px) {
          max-width: none;
        }
      }
    }
  }
  &__bg {
    position: absolute;
    background-image: url(../img/block3/sit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/////////////////////////
.boriosa__row {
  display: flex;
}
.boriosa__column {
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: column;
}
.boriosa-block {
  margin: 0 auto;
  text-align: center;
  max-width: 358px;
  padding: 65px 0 49px 0;
}

.block__main_bariosa {
  text-align: left;
  position: relative;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 20px;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 47px;
    bottom: 0;
    right: 42%;
    background-color: rgba(53, 55, 56, 0.2);
  }
}

.boriosa__image-small {
  position: relative;
  min-width: 100%;
  min-height: 200px;
  @media (max-width: 1290px) {
    & {
      width: 435px;
    }
  }
}
.boriosa__bg {
  position: absolute;
  background-image: url(../img/block4/sit2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}
.boriosa__image-main {
  flex: 0 1 66.667%;
  position: relative;
  background-image: url(../img/block4/bike-2-logo.png),
    url(../img/block4/water.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto, cover;
  top: 0;
  left: 0;
}
///////////////////////
.hulot {
  &__row {
    display: flex;
  }
  &__image-since {
    flex: 0 1 33.333%;
    position: relative;
    background-image: url(../img/block5/since.png), url(../img/block5/rama.png);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: auto auto, cover;
    top: 0;
    left: 0;
  }
  &__column {
    flex: 0 1 33.333%;
    display: flex;
    flex-direction: column;
  }
  &__image-small {
    position: relative;
    min-width: 100%;
    min-height: 200px;
    @media (max-width: 1290px) {
      & {
        width: 435px;
      }
    }
  }
  &__bg {
    position: absolute;
    background-image: url(../img/block5/mavic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__image-bike {
    flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    position: relative;
    background-image: url(../img/block5/red-bike.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
  }
}

.hulot-block {
  margin: 0 auto;
  text-align: center;
  max-width: 358px;
  padding: 65px 0 49px 0;
}

.block__main_hulot {
  text-align: left;
  position: relative;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 20px;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 47px;
    bottom: 0;
    right: 42%;
    background-color: rgba(53, 55, 56, 0.2);
  }
}
/////////////////////////
.twitter {
  background-color: RGBA(247, 247, 247, 1);

  &__body {
    max-width: 820px;
    margin: 0 auto;
    text-align: center;
    padding: 65px 0;
  }
  &__logo {
    margin-bottom: 10px;
  }
  &__title {
    color: #353738;
    margin: 20px 0;
  }
  &__grey {
    color: #b8b3b3;
  }
  &__text {
    font-family: $kalam-font;
    color: #848789;
    line-height: 25px;
    font-size: 17px;
    @media (max-width: 479px) {
      & {
        padding: 0 40px 0 40px;
      }
    }
    @media (max-width: 1290px) {
      & {
        padding: 0 20px 0 20px;
      }
    }
  }
}
///////////////////
.pictures {
  &__row {
    display: flex;
  }
  /////////////
  &__column-left {
    flex: 0 1 33.333%;
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: flex;
  }
  &__top-left {
    position: relative;
    flex: 0 1 50%;
  }
  &__top-left-bg {
    position: absolute;
    background-image: url(../img/foto-block/brookssmal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__top-right {
    position: relative;
    flex: 0 1 50%;
    height: 267px;
  }
  &__top-right-bg {
    position: absolute;
    background-image: url(../img/foto-block/sit-wall.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__bottom-big {
    position: relative;
    height: 267px;
  }
  &__bottom-big-bg {
    position: absolute;
    background-image: url(../img/foto-block/brooks-big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  ///////////////
  &__column-middle {
    flex: 0 1 33.333%;
    display: flex;
  }
  &__left {
    flex: 1 1 50%;
    position: relative;
    @media (max-width: 1290px) {
      & {
        width: 217.5px;
      }
    }
  }
  &__left-bg {
    position: absolute;
    background-image: url(../img/foto-block/bike-bag.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__right {
    flex: 1 1 50%;
    position: relative;
    @media (max-width: 1290px) {
      & {
        width: 217.5px;
      }
    }
  }
  &__right-bg {
    position: absolute;
    background-image: url(../img/foto-block/bike-black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  ///////////
  &__column-right {
    flex: 0 1 33.333%;
    display: flex;
    flex-direction: column;
  }
  &__top-big {
    position: relative;
    height: 267px;
  }
  &__top-big-bg {
    position: absolute;
    background-image: url(../img/foto-block/shop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__bottom {
    display: flex;
  }
  &__bottom-left {
    flex: 0 1 50%;
    position: relative;
  }
  &__bottom-left-bg {
    position: absolute;
    background-image: url(../img/foto-block/brown-sit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__bottom-right {
    flex: 0 1 50%;
    position: relative;
    height: 267px;
  }
  &__bottom-right-bg {
    position: absolute;
    background-image: url(../img/foto-block/bag.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
//////////////////////////////////
.discover {
  text-align: center;
  background-color: RGBA(40, 47, 53, 1);
  &__bottom {
    margin: 70px 0;
    display: inline-block;
    border: 1px solid #7c7c7c;
    color: #ffffff;
    padding: 16.5px 50px;
    letter-spacing: 3px;
    font-size: 12px;
    &:hover {
      background-color: #4d4d4d;
    }
  }
}
//////////////////////////////////
.saddle {
  padding: 105px 0;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  &__logo {
    display: inline-block;
    width: 70px;
    height: 60px;

    & img {
      max-width: 100%;
    }
  }
  &__losung {
    margin: 35px 0 32px 0;
    color: #848789;
    font-size: 20px;
    font-family: $kalam-font;
  }
  &__row {
    display: flex;
  }
  &__input {
    display: inline-block;
    width: 402px;
    padding-left: 20px;
    height: 50px;
    font-size: 13px;
    border: 1px solid rgba(211, 215, 217, 1);
    transition: all 0.5s;
    &:hover {
      background-color: #e3e0e0;
    }

    &::placeholder {
      color: #949494;
    }
  }
  &__button {
    margin-left: 10px;
    color: #ffffff;
    display: inline-block;
    background-color: rgba(100, 194, 158, 1);
    width: 130px;
    height: 50px;
    transition: all 0.5s;
    &:hover {
      background-color: rgb(100, 145, 194);
    }
  }
}
////////////////////////////

.footer {
  background-color: RGBA(247, 247, 247, 1);

  &__row {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    @media (max-width: 767px) {
      & {
        flex-direction: column;
        padding: 35px 0 30px 0;
      }
    }
  }
  &__adress {
    font-weight: 13px;
    color: #848789;
    line-height: 18px;
    @media (max-width: 767px) {
      & {
        order: 2;

        text-align: center;
        margin: 20px 0 40px 0;
      }
    }
    & h4 {
      font-weight: 700;
    }
  }
  &__social {
    display: flex;
    @media (max-width: 767px) {
      order: 1;
    }
  }
  &__twitter {
    width: 35px;
    height: 34px;
    & img {
      max-width: 100%;
    }
  }
  &__facebook {
    margin: 0 10px;
    width: 35px;
    height: 34px;
    & img {
      max-width: 100%;
    }
  }
  &__pinterest {
    width: 35px;
    height: 34px;
    & img {
      max-width: 100%;
    }
  }
  &__by {
    display: flex;
    color: #848789;
    padding-left: 90px;
    @media (max-width: 767px) {
      & {
        order: 3;

        padding-left: 0;
      }
    }
  }
  &__yebo {
    position: relative;
    width: 55px;
    height: 36px;
    margin-left: 10px;
    &::after {
      content: "";
      background: url(../img/footer/Y\ E\ B\ O\ Logo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
